<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.html</title>
</head>
<body>
    <div>
        <h1>Hello FastAPI</h1>
        <p>Today's fortune : {{ fortuneToday }}</p>
        <p>My Name: Chihiro</p>
        <p>Testing to see if clean up worked</p>
        <h2>Under Maintenance2</h2>
        <ul>
            <li>Getting started</li>
            <li>Please wait a bit</li>
            <li>Blah...Blah...</li>
            <li>Checking again</li>
            
            {% for item in noticelist %}
            <li>{{ item.content }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>